@import reset
@import bourbon

$blue: #101a7c

=backface-visibility($v)
  +prefixer(backface-visibility, $v, webkit spec)

html
  height: 100%

body
  margin: 0
  padding: 0
  background: $blue
  height: 100%
  color: white

  +backface-visibility(hidden)
  +transform(translateZ(0))
  +transform-style(preserve-3d)


.application-view
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

  +perspective(1000px)
  +perspective-origin(50% 50%)
  +transform-style(preserve-3d)


.tile-view
  cursor: pointer
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

  +transform-style(preserve-3d)
  +transition(1s ease-in-out all)

  text-align: center
  font-size: 200px


  &.selected
    // No visual purpose, just guarantees that selected tiles
    // will be on "top" to handle click events.
    z-index: 10


.category-view
  font-family: Arial
  font-weight: 700
  text-shadow: 15px 15px black
  font-size: 120px


.side

  +backface-visibility(hidden)
  +transform-style(preserve-3d)
  +box-sizing(border-box)

  border: 10px solid black
  background: $blue

  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

  &.back
    font-size: 70px

    +transform(rotateY(180deg))
    .vertical-align-view
      padding: 30px
      position: relative
      top: -50px

.vertical-align-view
  display: table-cell
  vertical-align: middle


.price
  color: #daa520
  text-shadow: 20px 20px black
  font-family: Impact
  font-size: 250px

#github-link
  position: absolute
  width: 40px
  height: 40px
  background-image: image-url("github_icon.png")
  display: block
  top: 7px
  right: 7px
  z-index: 5
  +transition(0.7s ease-in-out opacity)
  &.hidden
    opacity: 0


